a::selection {
     color: #33ff00;
}
a:hover{
    color: rgb(211, 164, 255);
    
}
a{
    text-decoration: none;
    color: #000;
}
@media screen and (max-width: 600px) and (min-width: 300px){
    body {
        font-size: 9px;
        padding: 50px;
        border: 4px solid black;
        background: rgb(44, 44, 44);
        width: 100%;
    }
}
