
/**********************************************************************************Elements**********************************************************************************/
a::selection {
    color: #f55e5e;
}
a{
    text-decoration: none;
    color: #000;
}
body{
    background-color:#116A7B;
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
body::selection{
    color: #f55e5e;
}
/**********************************************************************************media screen**********************************************************************************/
/****phones****/
@media screen and (max-width: 699px) and (min-width: 199px){
    body {
        font-size: 8px;
        width: 100%;
        margin: 0;
        
    }
    img{
        height: 150px;
        width: 150px;
    }
    .botton{
        background-color: aqua;
        margin: 0;
        margin-top: 60%;
        height: 150px;
    }
}
/****ipads****/
@media screen and (max-width: 1300px) and (min-width: 700px){
    body {
        font-size: 13px;
        width: 100%;
        margin: 0;
    }
    img{
        height: 250px;
        width: 250px;
    }
    .botton{
        background-color: aqua;
        margin-left: 0;
        height: 150px; 
    }
    .roms{
        position: relative;
        left: 40%;
        padding: 30px;
       }
}
/**********************************************************************************Classes**********************************************************************************/
.botton{
    background-color: #ECE5C7;
    margin: 0;
    margin-top: 100px;
    height:70px; 
}
.roms{
position: relative;
left: 35%;
top:35%;
 margin:  0 3%;
 font-size: 18px;
}
.muath{
    padding: 20px;
    background-color: #ECE5C7;
    height:70px;
    margin-bottom: 30px;
}
#w{
    transition-property:all;
    transition-duration: 0.3s;
}
/**********************************************************************************Games**********************************************************************************/
.yu-gi-roses{
    padding: 20px;
}
.Super-Mario-Bros{
    padding: 20px;
}
.Mario-64{
    padding: 20px;
}
.Metal-Gear-Solid-3{
    padding: 20px;
}
.Devil-may-cry-3{
    padding: 20px;
}
.crash-twinsanity{
    padding: 20px;
}
.Yu-Gi-Oh-Master-Duel{
    padding: 20px;
}
.Yu-Gi-Oh-Duel-Links{
    padding: 20px;
}
.Hearthstone{
    padding: 20px;
    margin-bottom: 0px
}
/**********************************************************************************hover**********************************************************************************/
#w:hover{
    color: #C2DEDC;
     font-size: 36px;

}
.roms:hover{
    color:#CDC2AE;
}
img{
    margin-right: 30px;
    margin-bottom: 30px;
}
#btn{
    position: relative;
    top: 40px;
    left: 50%;
    padding: 10px auto 10px auto;
}
h1{
    padding-bottom: 20px;
}
.muathB{
   font-size: 2rem;
   padding-bottom: 0;
}
.carousel-item{
    padding: 7% 15%;
    text-align: center;
}
#TCG{
    text-align: center;
    margin-right: 30px;
}
.tcg{
    padding-left: 20px;
    margin-top: 30px;
}